@import 'variables/journal';

body {
    margin: 0 auto;
    width: 67vw;

    background: rgb(238, 238, 238);


}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', sans-serif;
}

a { color: var(--color-teal); text-decoration: none;}
a:hover { text-decoration: underline var(--color-red)}


#masthead {
    display: flex;
    flex-direction: row;

    padding: 1rem 0;

    justify-content: space-between;
    align-items: center;

    border-bottom: solid 2px var(--border-color);

}
#masthead h1 {
    margin: 0;
    padding: 0;

    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    color: var(--title-color)
}

#masthead .nameplate {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--nameplate-color);
}

#masthead .nameplate a {
    color: inherit;
    text-decoration: none;
}

#masthead .nameplate a:hover {
    text-decoration: underline;
}

#masthead ul {
    display: inline-flex;

    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

#masthead ul li
{
    display: inline-block;
    margin: 0 1rem;

    font-size: 1.4rem;
}

main
{
    padding: 0 1rem;

    font-family: var(--default-text-family);
    font-size: var(--default-text-size);
    color: var(--text-color);

}
